<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Alex Jakhang Cheung">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Alex Jakhang Cheung professional website">
    <title>Alex Jakhang Cheung</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Alex Jakhang Cheung</h1>
        <nav id="myTopnav" class="topnav">
            <a href="../index.html">Home</a>
            <a href="CV.html" class="active">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <caption>My Experience</caption>
            <tr>
                <th scope="col">Institude/Organization</th>
                <th scope="col">Description</th>
            </tr>
            <tr>
                <td>Multum</td>
                <td>
                    Co-led a team of seven to design and develop the website utilizing Figma and React, strategically promoting the app in anticipation of the startup's launch
                </td>
            </tr>
            <tr>
                <td>EazyML</td>
                <td>
                    Designed website homepage in React which achieved 6000+ visits per month <br>
                    Created the “Book a Demo” feature implemented in React which boosted leads by over 10% <br>
                    Recorded and edited several marketing videos with 1000+ views total showing the development of several ML models
                </td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>
                    Bachelor of Science, Information Systems; GPA: 4.00/4.00 <br>
                    Selected Coursework: *Principles of Functional Programming, *Principles of Imperative Computation, 
                    *The Information Systems Milieux, Mobile Web Design &amp; Development, Concepts of Mathematics
                </td>
            </tr>
            <tr>
                <td>High Technology High School</td>
                <td>
                    High School Diploma; GPA: 98.27/100.00 <br>
                    Selected Coursework: AP Computer Science A, Multivariable Calculus, AP Calculus BC, AP Statistics
                </td>
            </tr>
        </table>
        <a href="../static/alexjakhangcheung.pdf" target="_blank">My resume, pdf version</a>
    </div>
    <footer>
        <p id="copyYear">Alex Jakhang Cheung &copy</p>
    </footer>
</body>
</html>